<!DOCTYPE html>
    <head>
        <title> Flask Etch-a-Sketch</title>
    </head>
    <body>
        <h1>Press a directional button to move the LED cursor, or the clear button to 
        "shake" the Etch-a-Sketch</h1>
        <a href="/matrix/up" class="button">UP</a>
        <a href="/matrix/down" class="button">DOWN</a>
        <a href="/matrix/right" class="button">LEFT</a>
        <a href="/matrix/left" class="button">RIGHT</a>
        <a href="/matrix/clear" class="button">CLEAR</a>
    </body>
</html>